upstream galeracluster {
    {{ item.value.loadbalance_method }}
  {% for server in groups.galeracluster %}
    server {{ server }}:{{ item.value.backend }};
  {% endfor %}
}

server {
  listen {{ item.value.frontend }};
  location / {
    proxy_pass http://galeracluster;
  }
}
