upstream {{ item.key }} {
    {{ item.value.loadbalance_method }}
  {% for server in groups.webservers %}
    server {{ server }}:{{ item.value.backend }};
  {% endfor %}
}

server {
  listen {{ item.value.frontend }};
  server_name {{ item.value.server_name }} {{ item.value.server_alias }};
  proxy_set_header Host $http_host;
  location / {
    proxy_pass http://{{ item.key }};
  }
}
